<div  ng-controller="mainController">
    <button type="button" class="btn btn-info footer font "  data-target="#register">
        <a ui-sref="register">Register</a>
    </button>
    <div class="container">
        <div class="row">

            <div class="form_bg">
                <form name="userForm"  novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                        <label class="font">Username</label>
                        <input type="email" name="name" class="form-control" ng-model="name" required>
                        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" >Please enter a valid email.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                        <label  class="font">Password</label>
                        <input type="password" name="password" class="form-control" ng-model="password" required ng-minlength="8" ng-maxlength="12">
                        <p ng-show="userForm.password.$invalid && !userForm.password.$pristine">Password is required.</p>
                        <p ng-show="userForm.password.$error.minlength" >Password is too short.</p>
                        <p ng-show="userForm.password.$error.maxlength">Password is too long.</p>
                    </div>
                    <div class="align-center">
                        <button type="submit" class="btn btn-primary font" ng-disabled="userForm.$invalid" ng-click="login()">Submit</button>
                    </div>
                    <div class="animated  fadeIn" ng-if="invalid">
                        Invalid Username / Password.
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>